/*
Colors: ;
website background color: #faf0e6;
website normal black:  #212529;

tamara website blue:  #e8fcfc;
abigail card dark green: #687450;;

*/

/*Headings and Sizes*/
/*Smaller (actually phonbes)*/
:root{
		--fs-h1:  4rem;
		--fs-h2:  3.75rem;
		--fs-h3: 1.0rem;
		--fs-h4:  1.0rem;
}


/*Small screens (phone)*/
@media (min-width:  576px){
	:root{
		--fs-h1:  4.5rem;
		--fs-h2:  3.25rem;
		--fs-h3: 1.25rem;
		--fs-h4:  1.1rem;
	}
}

/*Mid screens (tablets)*/
@media (min-width:  768px){
	:root{
		--fs-h1:  6.25rem;
		--fs-h2:  3.5rem;
		--fs-h3: 1.5rem;
		--fs-h4:  1.3rem;
	}
}

/*Large screens (laptop)*/
@media (min-width:  992px){
	:root{
		--fs-h1:  8rem;
		--fs-h2:  3.75rem;
		--fs-h3: 1.5rem;
		--fs-h4:  1.5rem;
	}
}


h1,h2,h3,h4{
	font-family: "Abril Fatface";
	line-height:  1.1;
	margin: 0;
}

.sen{
	font-family: "Sen"
}

h1{font-size:  var(--fs-h1);}
h2{font-size:  var(--fs-h2);}
h3{font-size:  var(--fs-h3);}
h4{font-size:  var(--fs-h4);}


/*General Fonts*/
@font-face{
	font-family: 'Abril Fatface';
	src: url(fonts/AbrilFatface-Regular.ttf);
}

@font-face{
	font-family: 'Sen';
	font-weight: 400;
	src: url(fonts/Sen-Regular.ttf);
}

@font-face{
	font-family: 'Sen';
	font-weight: 700;
	src: url(fonts/Sen-Bold.ttf);
}

/*General website color and design*/
body{
	font-family: "Sen";
	line-height:  1.6;
	background: #faf0e6;
	cursor: none;
	margin: 0;
	padding:  0;
	overflow-x: hidden;
}

.row{
	margin: auto;
}

/*Front Page takes up Full Screen*/


.showcase{
	min-height: calc(100vh - 148px);
	margin-bottom: 74px;
	display: flex;
	align-items: center;
}

.showcase > .container, .showcase > .container > .row{
	height: 100%;
}


/*Animating the Title Letters*/
span.titleletter{
	display: table-cell;
	margin: 0;
	padding: 0;
}

span.titleletter.animated{
	color: #edb18d;
	animation: bounce 0.5s cubic-bezier(.17,-0.58,.61,.95) 2 alternate;
}

@keyframes start{
	0%{transform: translateY(0);}
	100%{transform: translateY(7%);
		background-color: red;
	}
}

@keyframes bounce{
	0%{transform: translateY(0%);}
	100%{transform:  translateY(-30%);}
}


/*Cursor*/
div.cursor div{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #c8bcb4;
	border-radius: 50%;
	box-sizing:  border-box;
	pointer-events: none;
	z-index: 100;
}

/*Social Media Icons*/
ion-icon{
	font-size:  56px;
}

.social-icon{
	color: #aaaaaa;
	transition: color 0.2s;
}

.social-icon:hover{
	color: #333333;
}

/*Animated Line Divider*/
#thread1{
	border-radius: 5px;
	top: 20px;
	height:  10px;
	animation:  dash1 9s ease-in-out infinite;
}

#thread2{
	border-radius: 5px;
	top: 20px;
	height:  10px;
	animation:  dash1 9s ease-in-out infinite 3s;
}

#thread3{
	border-radius: 5px;
	top: 20px;
	height:  10px;
	animation:  dash1 9s ease-in-out infinite 6s;
}

@keyframes dash1{
	0%{width: 100%;}
	100%{width: 0%;}
}

/*Things I do*/

.hide{
	color: #faf0e6;
	transition: 1000s ease-in;
}

.thingsido:hover .hide{
	color: #212529;
	transition: 0.3s;
}

/*Cards*/
/*
blues
shade 1: #e8fcfc
shade 2: #d2f9f9
shade3: #bbf6f6

greens
shade 1:  #f5fee7
shade 2: #ebfdce
shade 3: #e0fcb4

purples
shade 1:  #ffe6f9
shade 2:  #ffccf2
shade 3:  #ffb3ec

*/

.space{
	margin-bottom: 30px;
}

:root{
	--fs-b: 6px solid #aaaaaa;
	--fs-br:  20px;
	--fs-ttime:  0.3s;

	--fs-blue1: #e8fcfc;
	--fs-blue2: #d2f9f9;
	--fs-blue3: #bbf6f6;

	--fs-green1: #f5fee7;
	--fs-green2: #ebfdce;
	--fs-green3: #e0fcb4;

	--fs-purple1:  #ffe6f9;
	--fs-purple2:  #ffccf2;
	--fs-purple3:  #ffb3ec;
}

.card {
	border: none;
	/*pale background color*/
    background-color: #faf0e6;
    height: 100%;
    margin: 5%;
}

.card__image{
	width: 100%;
	transition: var(--fs-ttime);
}

.card__top{
    padding: 10% 10%;
    border:  var(--fs-b);
    border-top-left-radius: var(--fs-br);
    border-top-right-radius: var(--fs-br);

    transition: var(--fs-ttime);
}

.card__body{
	text-align: left;
    padding: 5% 5% 0 5%;
	height: 100%;

	border-left: var(--fs-b);
	border-bottom: var(--fs-b);
	border-right: var(--fs-b);
	border-bottom-left-radius: var(--fs-br);
    border-bottom-right-radius: var(--fs-br);

    transition: var(--fs-ttime);

}

.card__body__extraborder{
	border-top: var(--fs-b);
	border-top-left-radius: var(--fs-br);
    border-top-right-radius: var(--fs-br);
}

/*color related*/
/*BLUES BLUES BLUES BLUES*/
.blues > .card > .card__body{
	background-color:  var(--fs-blue2);
}

.blues>.card:hover .card__body{
	transition: var(--fs-ttime);
	background-color: var(--fs-blue1);
	box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
}

.blues > .card > .card__body > .button-activities{
	transition: var(--fs-ttime);
	background-color: var(--fs-blue3);
}

.blues>.card:hover .button-activities{
	transition: var(--fs-ttime);
	background-color:  var(--fs-blue2);
}

/*GREENS GREENS GREENS GREENS*/
.greens > .card > .card__body{
	background-color:  var(--fs-green2);
}

.greens>.card:hover .card__body{
	transition: var(--fs-ttime);
	background-color: var(--fs-green1);
	box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
}

.greens > .card > .card__body > .button-activities{
	transition: var(--fs-ttime);
	background-color: var(--fs-green3);
}

.greens>.card:hover .button-activities{
	transition: var(--fs-ttime);
	background-color:  var(--fs-green2);
}

/*PURPLES PURPLES PURPLES PURPLES PURPLES */
.purples > .card > .card__body{
	background-color:  var(--fs-purple2);
}

.purples>.card:hover .card__body{
	transition: var(--fs-ttime);
	background-color: var(--fs-purple1);
	box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
}

.purples > .card > .card__body > .button-activities{
	transition: var(--fs-ttime);
	background-color: var(--fs-purple3);
}

.purples>.card:hover .button-activities{
	transition: var(--fs-ttime);
	background-color:  var(--fs-purple2);
}


/*other on hover*/
.card:hover .card__top{
	transition: var(--fs-ttime);
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
}

.card:hover .card__body{
	transition: var(--fs-ttime);
	box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
}

.card:hover .card__image{
	transition: var(--fs-ttime);
	transform:  scale(1.1);
}

/*button*/
.card__button__link, .card__button__link:hover{
	/*text color*/
	color:  #212529;
    text-decoration: none;
}

.button-activities{
    padding: 3%;
    margin: 1.1%;
    border: 1px solid;
    border-radius: 15px;
    transition: var(--fs-ttime);
}

.button-activities:hover{
    transition: var(--fs-ttime);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
}
